<h1>Đặt phòng</h1>
<form action="">
    <div class="mt-3">
        <label for="">ID:</label>
        <input type="text" class="form-control" ng-model="datphong.id">
    </div>
    <div class="mt-3">
        <label for="">Tên khách:</label>
        <input type="text" class="form-control" ng-model="datphong.tenKhach">
    </div>
    <div class="mt-3">
        <label for="">Số điện thoại:</label>
        <input type="text" class="form-control" ng-model="datphong.sodienthoai">
    </div>
    <div class="mt-3">
        <label for="">Ngày đặt:</label>
        <input type="text" class="form-control" ng-model="datphong.ngayDat">
    </div>
    <div class="mt-3">
        <label for="">ID phòng:</label>
        <input type="text" class="form-control" ng-model="datphong.idPhong">
    </div>
    <div class="mt-3">
        <label for="">Số lượng:</label>
        <input type="text" class="form-control" ng-model="datphong.soLuong">
    </div>
</form>

<button class="btn btn-primary mt-3" ng-click="onClickDatPhong()">Đặt phòng</button>